USE [master]
GO
/****** Object:  Database [ATM_SS]    Script Date: 11/21/2024 1:41:16 AM ******/
CREATE DATABASE [ATM_SS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATM_SS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATM_SS.mdf' , SIZE = 335872KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATM_SS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATM_SS_log.ldf' , SIZE = 532480KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM_SS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM_SS]
GO
/****** Object:  User [Akifa]    Script Date: 11/21/2024 1:41:17 AM ******/
CREATE USER [Akifa] FOR LOGIN [Akifa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Fact_ATM]    Script Date: 11/21/2024 1:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_ATM](
	[FactID] [varchar](max) NULL,
	[AtmID] [int] NOT NULL,
	[DateID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[TransactionID] [int] NOT NULL,
	[DECLINED_AMOUNT] [bigint] NULL,
	[No_of_Completed_Transactions] [int] NULL,
	[No_of_Declined_Transactions] [int] NULL,
	[Total_Notes_Dispensed] [bigint] NULL,
	[Ratio_of_Completed_Transaction] [float] NULL,
	[Approved_Transaction_Amount] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimAtm]    Script Date: 11/21/2024 1:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAtm](
	[AtmID] [int] NOT NULL,
	[ATM_NAME] [varchar](max) NULL,
	[CURRENT_MODE] [bigint] NULL,
	[Branch_Id] [varchar](max) NULL,
	[ATM_TYPE_NAME] [varchar](max) NULL,
	[ATM_TYPE_DESCRIPTION] [varchar](max) NULL,
 CONSTRAINT [PK_DimAtm] PRIMARY KEY CLUSTERED 
(
	[AtmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLocation]    Script Date: 11/21/2024 1:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocation](
	[LocationID] [int] NOT NULL,
	[LOCATION] [varchar](max) NULL,
	[CITY] [varchar](max) NULL,
	[REGION] [varchar](max) NULL,
	[POSTAL_CODE] [varchar](max) NULL,
 CONSTRAINT [PK_DimLocation] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTransaction]    Script Date: 11/21/2024 1:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTransaction](
	[TransactionID] [int] NOT NULL,
	[Transaction_Code] [bigint] NULL,
	[Last_Tran_Status_Desc] [varchar](max) NULL,
 CONSTRAINT [PK_DimTransaction] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 11/21/2024 1:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateID] [int] NOT NULL,
	[DD_Day] [int] NULL,
	[DD_Quarter] [int] NULL,
	[DD_Month] [int] NULL,
	[DD_Week] [bigint] NULL,
	[DD_Year] [int] NULL,
	[DD_Hour] [int] NULL,
	[DD_Minute] [int] NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Data_Snapshot]    Script Date: 11/21/2024 1:41:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[Data_Snapshot] AS
SELECT
    fa.FactID,
    da.ATM_NAME,
    da.CURRENT_MODE,
    da.Branch_Id,
    da.ATM_TYPE_NAME,
    da.ATM_TYPE_DESCRIPTION,
    dd.DD_Day,
    dd.DD_Quarter,
    dd.DD_Month,
    dd.DD_Week,
    dd.DD_Year,
    dd.DD_Hour,
    dd.DD_Minute,
    dl.LOCATION,
    dl.CITY,
    dl.REGION,
    dl.POSTAL_CODE,
    dt.Transaction_Code,
    dt.Last_Tran_Status_Desc,
    fa.DECLINED_AMOUNT,
    fa.No_of_Completed_Transactions,
    fa.No_of_Declined_Transactions,
    fa.Total_Notes_Dispensed,
    fa.Ratio_of_Completed_Transaction,
    fa.Approved_Transaction_Amount
FROM Fact_ATM AS fa
JOIN DimAtm AS da ON fa.ATMID = da.AtmID
JOIN DimDate AS dd ON fa.DateID = dd.DateID
JOIN DimLocation AS dl ON fa.LocationID = dl.LocationID
JOIN DimTransaction AS dt ON fa.TransactionID = dt.TransactionID;
GO
ALTER TABLE [dbo].[Fact_ATM]  WITH CHECK ADD  CONSTRAINT [FK_DimAtm] FOREIGN KEY([AtmID])
REFERENCES [dbo].[DimAtm] ([AtmID])
GO
ALTER TABLE [dbo].[Fact_ATM] CHECK CONSTRAINT [FK_DimAtm]
GO
ALTER TABLE [dbo].[Fact_ATM]  WITH CHECK ADD  CONSTRAINT [FK_DimDate] FOREIGN KEY([DateID])
REFERENCES [dbo].[DimDate] ([DateID])
GO
ALTER TABLE [dbo].[Fact_ATM] CHECK CONSTRAINT [FK_DimDate]
GO
ALTER TABLE [dbo].[Fact_ATM]  WITH CHECK ADD  CONSTRAINT [FK_DimLocation] FOREIGN KEY([LocationID])
REFERENCES [dbo].[DimLocation] ([LocationID])
GO
ALTER TABLE [dbo].[Fact_ATM] CHECK CONSTRAINT [FK_DimLocation]
GO
ALTER TABLE [dbo].[Fact_ATM]  WITH CHECK ADD  CONSTRAINT [FK_DimTransaction] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[DimTransaction] ([TransactionID])
GO
ALTER TABLE [dbo].[Fact_ATM] CHECK CONSTRAINT [FK_DimTransaction]
GO
USE [master]
GO
